.contact {
  height: 100vh;
  position: relative;
  overflow-y: auto;
  color: var(--color-text);
  place-content: center;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 90%;
  z-index: 2;
}
.contact-form {
  text-align: center;
  background: var(--background-target);
  border-radius: 15px;
  box-shadow: var(--shadow);
  width: 50%;
  margin: auto;
  color: var(--color-text);
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
}
.contact-form input {
  padding-left: 20px;
  margin: 10px 0;
  height: 30px;
  color: var(--color-text);
}
.contact-icon {
  position: absolute;
  margin-top: 15px;
}
.inputs {
  width: 100%;
  border: none;
  border-bottom: 1px var(--color-text) solid;
  background-color: transparent;
  box-sizing: border-box;
}

.inputs:focus {
  outline: none;
}
.inputs ::placeholder {
  color: rgb(171, 171, 171);
}
.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px var(--color-text) solid;
  padding: 5px;
  width: 30%;
  margin: auto;
  color: white;
  border-radius: 5px;
}
@keyframes icon-contact {
  400% {
    color: var(--color-primary);
  }
}

@media only screen and (max-width: 600px) {
  .contact-form {
    place-content: center;
    width: 80%;
    height: 60%;
  }
}
