.contact {
  height: 100vh;
  position: relative;
  overflow-y: auto;
  color: var(--color-text);
  display: grid;
  z-index: 3;
}
.contact-form {
  text-align: center;
  background: var(--background-target);
  border-radius: 15px;
  box-shadow: var(--shadow);
  width: 50%;
  margin: auto;
  padding: 1%;
  color: var(--color-text);
  padding: 1%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
}
.contact-form input {
  padding-left: 20px;

  height: 30px;
  color: var(--color-text);
}
.input-contact {
  display: flex;
  justify-content: space-between;
  top: 30px;
  position: relative;
  z-index: 0;
}
.inputs {
  width: 100%;
  border: none;
  border-bottom: 1px var(--color-text) solid;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  z-index: 4;
}
.inputs:focus {
  outline: none;
}
.inputs ::placeholder {
  color: rgb(171, 171, 171);
}
.button {
  cursor: pointer;
  background-color: transparent;
  border: 2px var(--color-text) solid;
  padding: 5px;
  width: 30%;
  margin: auto;
  color: white;
  border-radius: 5px;
}
.icon-container {
  display: flex;
  gap: 5%;
  justify-content: center;
  margin: 1%;
}
.icon-container a {
  color: var(--color-text);
}
.icon-contact {
  cursor: pointer;
  width: 0;
  height: 0;
  animation: icon-contact linear both;
  animation-timeline: scroll(root block);
  animation-range: 350vh 400vh;
  -webkit-box-reflect: below 10px linear-gradient(transparent, #c2c2c271);
  transform: scale(1);
  transition: transform 0.3s ease;
}
.icon-contact:hover {
  transform: scale(1.2);
}
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-target);
  box-shadow: var(--shadow);
  width: 45%;
  padding: 2%;
  gap: 25px;
  margin: auto;
  border-radius: 15px;
}
.disabled {
  display: none;
}
.icon-success {
  height: 150px;
  width: 150px;
}
.success button {
  cursor: pointer;
  background-color: transparent;
  border: 2px var(--color-text) solid;
  padding: 3px;
  width: 20%;
  margin: auto;
  color: white;
  border-radius: 5px;
}
@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    .contact {
      animation: reveal linear both;
      animation-timeline: view();
      animation-range: entry 50% cover 90%;
    }
  }
}
@keyframes icon-contact {
  to {
    width: 6vh;
    height: 6vh;
  }
}
@media only screen and (max-width: 600px) {
  @keyframes icon-contact {
    to {
      width: 5vh;
      height: 5vh;
    }
  }
  .contact-form {
    width: 80%;
    height: 70%;
  }
  .icon-contact {
    animation-range: 340vh 370vh;
  }
  .icon-contact:hover {
    transform: none;
  }
  .icon-container {
    margin: 4%;
    gap: 7%;
  }
  .success {
    width: 80%;
    padding-top: 30%;
    padding-bottom: 30%;
    gap: 35px;
    align-content: end;
    place-content: end;
  }
  .icon-success {
    height: 120px;
    width: 120px;
  }
  .success button {
    width: 40%;
  }
}
