.information-conteiner {
  background-color: #e8dab2;
  height: 100vh;
}
.target-section {
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
  align-items: center; /* Centra verticalmente los elementos */
}
.imagen-autor {
  margin-left: 8%;
  width: 90%; /* La imagen ocupa el ancho de su celda */
  height: 70%; /* Ajusta la altura automáticamente */
  object-fit: cover;
}
.information-content {
  background-color: #c0d6df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 65%;
}
.information-title {
  font-size: 24px;

  padding: 10px;
  margin-bottom: 10px;
}

.information-description {
  padding: 10px;
}
