:root {
  --background-color-page: #3a3a3a;
  --color-primary: #3877ff;
  --color-text: #dcdcdc;
}


.main-information {
   height: 100dvh;
  width: 100%;
align-content: center;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 35% cover 40%;
 
}
.main-information div{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
   border: 2px var(--color-primary) solid;
}

.author-image {
  width: 40dvh;
  height: 60dvh;
  object-fit: cover;
  border-radius: 10px;
}
.information-container {
  display: flex;
  align-items: center;
  color: var(--color-text);
  border-radius: 10px;
  font-size: 0.7em;

}

@keyframes reveal{
  from{
    opacity: 0;
   
  }
  to{
    opacity: 1;
    
  }
}


