.intro {
  display: flex;
  flex-direction: column;
  justify-content:center;
 overflow: hidden;

}
.photo {
  position: absolute;
  height: 100vh;
  width:100%;
  object-fit: cover;
  z-index: 1;
}
.text-intro {
    position:relative;
    color:White;
    text-align: center;
    place-content: end;
    height: 90vh;
 z-index: 2;

}

.text-intro h1 {
color: var(--color-primary);
}

@media only screen and (max-width: 600px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/foto kevin 2.webp");
  }
}
