.intro {
  display: flex;
  flex-direction: column;
  justify-content:center;
  overflow: hidden;
  height: 100dvh;
}
.photo {
  position: absolute;
  height: 100dvh;
  width: 100%;
  object-fit: cover;
  top: 0;
  z-index: 1;
  animation: presentation linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 70vh;
}
.photo-movil{
  display: none;
}
.text-intro {
    position:fixed;
    background-color: rgba(32, 32, 32, 0.648);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    z-index: 3;
    animation: enhance-intro linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 90vh ;
}
.text-intro div{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  position: relative;
  animation: hide-text linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 37vh ;
  
}
.text-intro div::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 1px; 
  background-color: var(--color-text); 
  left: 50%;
  transform: translateX(-2vh);
  z-index: 1;
}
.text-intro h1 {
  color: var(--color-primary);
  padding: 5px;
  width: 35vh;
  margin: 0 auto;
  animation: presentation linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 40vh ;
}
.text-intro p{
  color: var(--color-text);
  animation: presentation linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 35vh ;     /*esto se hace mas angosto apartir de 40vh*/
  padding: 5px;
  margin: 0 auto;
  width: 35vh;
}
.main-title{
  color: var(--color-text);
  font-size: 0px;
  text-align: center;
  width: 100%;
  animation: title-main linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 90vh;
}

@keyframes title-main{
  to{
    font-size: 16px;
  }
}
@keyframes text-intro{
  to{
    left: 0;
   opacity: 0;
  }
}
@keyframes presentation{
to{
     font-size: 0px;

      opacity: 0;
    
}
}
@keyframes enhance-intro{
  to{
    background: rgba(10, 10, 10, 0.503);
    backdrop-filter: blur(5px);
    height: 10vh;
  }
}
@keyframes hide-text{
  to{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .intro{
    height: 0vh;
  }
  .photo{
  display: none;
  }
  .photo-movil{
    position: absolute;
    object-fit: cover;
    z-index: 1;
    display: flex;
    height: 100dvh;
    width: 100%;
  }
  .text-intro{
    flex-direction: column;
    gap: 0;
  }

 .text-intro div{

}
  .text-intro h1{
    margin: 0px;
    width: 20vh;
  }
  .text-intro p{
    margin: 0px;
    width: 20vh;
  }

}
