.main-projects {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  height: 100vh;
  align-items: center;
  justify-items: center;
}
.projects {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  place-content: center;
  z-index: 0;
}
.project-content {
  border-radius: 15px;
  padding: 3vh;
  background: var(--background-target);
  box-shadow: var(--shadow);
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 90%;
  width: 80%;
  margin: auto;
}
.projects h2 {
  position: relative;
  color: var(--color-text);
  margin: 10px;
}
.project-card {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: 3;
}
.project-card h3 {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  justify-content: center;
  display: flex;
}
.project-image {
  filter: brightness(0.3);
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.project-link {
  z-index: 3;
  text-align: center;
  width: 100%;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry -300% cover 80%;
}
.project-link a {
  margin: 25px;
}
.project-icon {
  width: 40px;
  height: 40px;
  color: white;
}
.right,
.left {
  place-content: center;
  cursor: pointer;
  position: relative;
  z-index: 3;
  font-size: 60px;
  height: 65%;
  place-content: center;
  color: var(--color-text);
}
.project-image-movil {
  display: none;
}
.project-content strong {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .main-projects {
    height: auto;
  }
  .project-content {
    text-align-last: center;
    border-radius: 15px;
    padding: 3px;
    z-index: 1;
    width: 90%;
  }

  .project-card {
    display: flex;
    border-radius: 15px;
    width: 100%;
    place-content: center;
  }
  .project-image-movil {
    width: 95%;
    position: relative;
    z-index: 1;
    height: 63vh;
    border-radius: 15px;
    display: inline;
    object-fit: cover;
  }
  .project-image {
    display: none;
  }
  .right,
  .left {
    place-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    font-size: 30px;
  }

  .project-link {
    width: 100%;
    border: none;
    margin-top: 8px;
  }
}
