:root {
  --primary-color: #c0d6df;
  --secondary-color: #dd6e42;
  --background-color-page: #e8dab2;
  --target-button: #4f6d7a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.conteiner-studies {
  height: 100vh;
}
.title-studies {
  display: grid;
  width: 5%;
  margin-top: 2%;
  padding: 2px;
  font-size: 40px;
  color: white;
  border-bottom: 2px var(--secondary-color) solid;
}
.text-conteiner-studies {
  width: 85%;
  margin: auto;
}

.description-studies {
  color: white;
  font-size: 1.1em;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  padding-bottom: 2%;
  width: 80%;
}
.conteiner-icon-studies {
  display: flex;
  gap: 10vh;
  justify-content: center;
  margin-top: 6%;
}
.logo-studies-html,
.logo-studies-css,
.logo-studies-js,
.logo-studies-react,
.logo-studies-node,
.logo-studies-bootstrap,
.logo-studies-sass,
.logo-studies-github {
  max-width: 50px;
}

.conteiner-certificates {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  margin-top: 5%;
}
.certificates-studies {
  cursor: pointer;
  margin-top: 20px;
  max-width: 240px;
  transition: transform 0.2s ease;
}
.certificates-studies:hover {
  transform: scale(1.05);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
}
.close-certificate {
  color: white;
  position: relative;
  left: 90%;
  width: 4em;
  height: 4em;
  border: none;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 5px;
}
.close-certificate:hover {
  background-color: rgb(211, 21, 21);
}
@media only screen and (max-width: 600px) {
  .conteiner-studies {
    height: 85vh;
  }
  .title-studies {
    border-bottom: none;
  }
  .text-conteiner-studies {
    width: 100%;
    margin-left: 0;
    margin-top: 20%;
  }
  .description-studies {
    color: white;
    font-size: 1.1em;
    text-align: center;
    width: 95%;
  }
  .conteiner-icon-studies {
    display: flex;
    gap: 2vh;
    justify-content: center;
    margin-top: 6%;
  }
  .logo-studies-html,
  .logo-studies-css,
  .logo-studies-js,
  .logo-studies-react,
  .logo-studies-node,
  .logo-studies-bootstrap,
  .logo-studies-sass,
  .logo-studies-github {
    max-width: 30px;
  }

  .conteiner-certificates {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  .certificates-studies {
    cursor: pointer;
    margin-top: 10px;
    max-width: 170px;
    transition: transform 0.2s ease;
  }
}
