.main-skills {
  height: 100dvh;
  place-content: center;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 90%;
  color: var(--color-text);
}
.studies {
  background: var(--background-target);
  box-shadow: var(--shadow);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3%;
  margin: 5%;
  border-radius: 15px;
}
.studies p {
  width: 60%;
  margin: auto;
  padding: 3%;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  margin-bottom: 50px;
  gap: 15px;
}
.certificates-studies {
  cursor: pointer;
  max-width: 210px;
  transition: transform 0.2s ease;
}
.certificates-studies:hover {
  transform: scale(1.05);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .certificates {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .studies p {
    width: 95%;
  }

  .certificates-studies {
    max-width: 150px;
  }
}
