.main-skills {
  height: 100dvh;
  place-content: center;
}

.studies {
  background: linear-gradient(
    145deg,
    rgba(32, 32, 32, 0.75),
    rgba(45, 45, 45, 0.75)
  );
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-text);
  padding: 15px;
}

.studies p {
  width: 60%;
  margin: auto;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  margin: 5%;
}
.certificates-studies {
  cursor: pointer;
  max-width: 210px;
  transition: transform 0.2s ease;
}
.certificates-studies:hover {
  transform: scale(1.05);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
}
.close-certificate {
  color: white;
  position: relative;
  left: 90%;
  width: 4em;
  height: 4em;
  border: none;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 5px;
}
.close-certificate:hover {
  background-color: rgb(211, 21, 21);
}
@media only screen and (max-width: 600px) {
  .certificates {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .studies p {
    width: 95%;
  }

  .certificates-studies {
    max-width: 150px;
  }
}
