@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Sora:wght@100..800&display=swap");

:root {
  --background-color-page: #dcdbdb;
  --color-primary: #3877ff;
  --color-text: #dcdcdc;
}
* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  margin: 0;
  background-color: var(--background-color-page);
}
