:root {
  --primary-color: #c0d6df;
  --secondary-color: #dd6e42;
  --background-color-page: #e8dab2;
  --target-button: #4f6d7a;
}

body {
  margin: 0;
  background-color: var(--background-color-page);
}
.text-name {
  color: #ffff;
  text-align: center;
  font-size: 20px;
}
.name-profession {
  text-align: center;
  color: var(--secondary-color);
}
